<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¿Cara o Cruz?</title>
    <link rel="stylesheet" href="../../styles/overlays/coin.css" />
</head>
<body id="coin-body">
    <div class='container'>
        <img id="featureCoin" src="https://upload.wikimedia.org/wikipedia/en/5/52/British_fifty_pence_coin_2015_obverse.png"/>
        <div id='coin'></div>
        <div id='button'>Lanzar moneda</div>
        <div id='result'></div>
    </div>
    <script src="../../js/coin.js"></script>
</body>
