<head>
    <link rel="stylesheet" href="/styles/overlays/scoreboard-tennis.css" />
</head>

<div id="scoreboard">
    <div class="players " id="player1">
        <p class="names " id="name1">Name player</p>
        <div class="sets">
            <p class="sets1" id="set11">0</p>
            <p class="sets2" id="set12">0</p>
            <p class="sets3" id="set13">0</p>
        </div>
        <p class="puntos" id="punto1">15</p>

    </div>
    <div class="players" id="player2">
        <p class="names" id="name2">Name player</p>
        <div class="sets">
            <p class="sets1" id="set21">0</p>
            <p class="sets2" id="set22">0</p>
            <p class="sets3" id="set23">0</p>
        </div>
        <p class="puntos" id="punto2">15</p>

    </div>
</div>
