<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Marcador</title>
        <link rel="stylesheet" href="../../styles/scoreboard/scoreboard_football.css" />
    </head>


    <body id="scoreboard-body">
        <header>
            <h1 id="title-scoreboard">Marcador</h1>
        </header>


        <ul class="container-scoreboard">

            <li class="team_box-scoreboard" id="box-team1">
                <div class="team_name-scoreboard" id="name_team1">Local</div>
                <div class="score-scoreboard" id="team1">0</div>
            </li>

            <li id="space">-</li>

            <li class="team_box-scoreboard" id="box-team2">
                <div class="score-scoreboard" id="team2">0</div>
                <div class="team_name-scoreboard" id="name_team2">Visitante</div>
            </li>
        </ul>
    </body>
</html>