<div id="body_header">
  <nav id="nav_header">
      <section id="menu-header">
          <h1 id="title"><img src="/assets/images/logotypes/logo.png" alt="Imagen del Logo"/><a href="">Streaming Overlays</a></h1>

          <button class="dropall"> <i>&#8801;</i>
              <ul class="dropall_elements">
                <li id="dropmenu">
                    <a id="dropmenu-top" href="">{{title}}</a>
                    <div class="dropmenu_elements">
                        <a id="football" href="">Football</a>
                        <a id="basketball" href="">Basketball</a>
                        <a id="padel" href="">Padel</a>
                        <a id="tennis" href="">Tennis</a>
                        <a id="others" href="">Others</a>
                    </div>
                </li>

                <li id="prices"><a href="">Prices</a></li>
                <li id="howToUse"><a href="">How to use</a></li>

                <li id="sessionOptions">
                    <img id="icono_usuario" src="/assets/images/icons/user-yellow.png" alt="User Icon"/>
                    <div>
                        <div id="not_logged">
                            <a >Log in</a>
                            <a >Sign up</a>
                        </div>
                        <div id="logged">
                            <a href="">My Library</a>
                            <a >Log out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </button>
      </section>
  </nav>
</div>
