:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

#scoreboard{
    display:flex;
    flex-direction:column;
    font-size:2em;
    width:fit-content;
    font-family:Poppins;
}

.players {
    display: flex;
    border-color: white;
}

.names {
    background-color: black;
    padding: 0.5em;
    color: white;
}

#player1 {
    border-bottom: solid;
    border-bottom-width: 0.01em;
    border-color: white;
}



#player2 {
    border-top: solid;
    border-top-width: 0.01em;
}

.puntos {
    background-color: black;
    padding: 0.5em;
    color: white;
}


.sets{
    background-color:white;
    display:flex;
    color:black;
}

.sets1, .sets2, .sets3 {
    padding:0.5em;
}


p{
    margin:0;
}
