
:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

@font-face {
    font-family: "Digital";
    src: url(/fonts/DS-DIGIB.TTF);


}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    height: -moz-available;
}

#timer{
    font-size:10em;
    font-family: Digital;
    list-style-type:none;
    display:flex;
    flex-direction:row;
    padding:0.1em;
    border-radius:0.1em;
    color:var(--colorPrincipalOscuro);
    background-color:var(--colorTerciario);
}

