:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

#body_header {
    background: linear-gradient(var(--colorPrincipalOscuro),var(--colorPrincipal));
    width: 99%;
}

#menu-header a {
    box-shadow: inset 0 0 0 0 var(--colorTerciario);
    padding: 0.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#menu-header a:hover {
    box-shadow: inset 10em 0 0 0 var(--colorTerciario);
    color: var(--colorPrincipal);
}

nav {
    background: linear-gradient(var(--colorPrincipalOscuro),var(--colorPrincipal));
}

#menu-header {
    width: 2em;
    height: 2em;
    float: right;
    margin-right:0.5em;
    background-color: #FFBB00;
    list-style-type: none;

    display: inline-flex;
    flex-direction: column;
    overflow:visible;
    position:relative;
}

.dropall{
    list-style-type: none;
    color: var(--colorTerciario);
    display: none;
    position: absolute;
    text-decoration: none;
    z-index: 1;
    flex-direction: column;
    left: -5em
}

#menu-header li a {
    float: left;
    display: block;
    text-align: left;
    font-weight: normal;
    color: var(--colorTerciario);
}

#menu-header:hover .dropall{
    display: inline-flex;
    justify-content: center;

}

#menu-header a {
    font-weight: bold;

    float: left;
    display: block;
    text-align: left;
}

#title {
    background-color: red;
    float: left;
}

#menu-header #title a{
    font-size:2em;
}

#menu-header #title img{
    width: 2em;
    height: 2em;
    float: left;
    margin-right:0.1em;
    display: none;
}

#menu-header #icono_usuario {
    width: 2em;
    height: 2em;
    display: none;
}

/*Creación del dropdown menu*/
#menu-header #dropmenu {
    display: inline-flex;
    flex-direction: column;
    overflow:visible;
    position:relative;
}

#menu-header #dropmenu div {
    display: none;
    position:absolute;
    text-decoration-line: none;
    z-index: 100;
    flex-direction: column;
}

.dropmenu_elements {
    background:none;
    left: -5em;
}

#dropmenu .dropmenu_elements a {
    float: left;
    display: block;
    text-align: left;
    font-weight: normal;
    z-index: 300;
}

/*Condición para mostrar el dropdown menu*/
#menu-header #dropmenu:hover div{
    display: inline-flex;
    justify-content:center;
}

#menu-header #sessionOptions {
    display: inline-flex;
    flex-direction: column;
    height: 2em;
    width: 2em;
    overflow: visible;
    align-items: flex-start;
}

#menu-header #sessionOptions div {
    display: none;
    text-decoration-line: none;
    z-index: 1;
    flex-direction: column;
    width: max-content;

}

/*Mostar log in y sing up*/
#menu-header #sessionOptions div a {
    font-weight: normal;
}

#menu-header #sessionOptions:hover div {
    display: inline-flex;
    justify-content:left;
}