:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

header {
    position: sticky;
    top:0;
    z-index: 999;
}

#body-howToUse {
    background: var(--colorPrincipal);
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: Poppins, serif
}

#howToUse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-self: center;
}

#title-howToUse {
    color: var(--colorTerciario);
    text-align: center;
    font-size: 3em;
}

#introduction-howToUse {
    color: var(--colorSecundario);
    text-align: center;
    font-size: 2em;
}

.container-howToUse {
    list-style: none;
    margin: auto;
    display: grid;
    grid-auto-columns: auto;
    padding: 0;
}

.box-howToUse {
    background: var(--colorPrincipalOscuro);
    border: 2px solid var(--colorTerciario);
    border-radius: 20px;
    width: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.type-howToUse {
    color: var(--colorTerciario);
    text-align: center;
    font-size: 2em;
}

.description-howToUse {
    color: var(--colorSecundario);
    text-align: center;
}