:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

header {
    position: sticky;
    top:0;
}

body {
    background: var(--colorPrincipal);
    margin: 0;
    display: grid;
    grid-template: 'header''body''footer';
    overflow-x: hidden;
    font-family: Poppins, serif
}

#howToUse {
    display: grid;
    grid-template: 'title' 'introduction' 'container';
    justify-items: center;
    place-self: center;
}

#title-howToUse {
    color: var(--colorTerciario);
    text-align: center;
    font-size: 3em;
}

#introduction-howToUse {
    color: var(--colorSecundario);
    text-align: center;
    font-size: 2em;
}

.container-howToUse {
    list-style: none;
    margin: auto;
    display: grid;
    grid-auto-columns: auto;
}

.box-howToUse {
    background: var(--colorPrincipalOscuro);
    border: 2px solid var(--colorTerciario);
    border-radius: 20px;
    width: 750px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.type-howToUse {
    color: var(--colorTerciario);
    text-align: center;
    font-size: 2em;
}

.description-howToUse {
    color: var(--colorSecundario);
    text-align: center;
}