<div id="footer">
    <div id="main-footer">
        <a href="/html/intro.html">
            <img id="logo-footer" src="/images/logotipos/logo.png" >
        </a>
        <ul class="ul-footer">
            <h3>Explora</h3>
            <li class="li-footer"><a href="/html/intro.html">Home</a></li>
            <li class="li-footer"><a href="/html/products.html">Overlays</a></li>
            <li class="li-footer"><a href="/html/howToUse.html">Como usarlo</a></li>
            <li class="li-footer"><a href="/html/prices.html">Precios</a></li>
        </ul>

        <ul class="ul-footer">
            <h3>Síguenos</h3>
            <li class="li-footer">
                <img src="/images/icons/instagram.png" class="social-icon" alt="Logo de instagram" />
                <a class="socialLink-footer" href="">pepe1990</a>
            </li>
            <li class="li-footer">
                <img src="/images/icons/youtube.png" class="social-icon" alt="Logo de youtube" />
                <a class="socialLink-footer" href="">pepe1990</a>
            </li>
            <li class="li-footer">
                <img src="/images/icons/tik tok.png" class="social-icon" alt="Logo de tik tok" />
                <a class="socialLink-footer" href="">pepe1990</a>
            </li>
            <li class="li-footer">
                <img src="/images/icons/facebook.png" class="social-icon" alt="Logo de facebook" />
                <a class="socialLink-footer" href="">pepe1990</a>
            </li>
        </ul>

        <ul class="ul-footer">

            <h3>Contacto</h3>
            <form id="form-footer" method="post" name="emailForm" action="/php/form-to-email.php">
                <div id="message-form-footer">
                    <div>
                        <div class="nameEmail-form-footer">
                            <label for="name">Name:</label>
                            <input type="text" name="name" />
                        </div>
                        <div class="nameEmail-form-footer">
                            <label for="email">Email:</label>
                            <input type="email" name="email" />
                        </div>
                    </div>

                    <div>
                        <label for="message">Message:</label>
                        <textarea id="textArea-form-footer" type="text" name="message"></textarea>
                    </div>
                </div>
                <button type="submit">Send</button>

            </form>
        </ul>
    </div>


    <div id="copyright-footer">
        <a>Aviso Legal</a>
        <p class="tag-footer">|</p>
        <p>Copyright © 2023 patata, Inc.</p>
        <p class="tag-footer">|</p>
        <a >Aviso de cookies</a>
    </div>
</div>