<div id="footer">
    <div id="main-footer">
        <a href="/html/intro.html">
            <img id="logo-footer" src="/images/logotypes/logo.png" >
        </a>
        <ul class="ul-footer">
            <li><h3>Explora</h3></li>
            <li class="li-footer"><a href="/html/intro.html">Home</a></li>
            <li class="li-footer"><a href="/html/overlays.html">Overlays</a></li>
            <li class="li-footer"><a href="/html/howToUse.html">How to use</a></li>
            <li class="li-footer"><a href="/html/prices.html">Pricing</a></li>
        </ul>

        <ul class="ul-footer">
            <li><h3>Síguenos</h3></li>
            <li class="li-footer">
                <img src="/images/icons/instagram.png" class="social-icon" alt="Logo de instagram" />
                <a class="socialLink-footer" href="">Lorem ipsum</a>
            </li>
            <li class="li-footer">
                <img src="/images/icons/youtube.png" class="social-icon" alt="Logo de youtube" />
                <a class="socialLink-footer" href="">Lorem ipsum</a>
            </li>
            <li class="li-footer">
                <img src="/images/icons/tik tok.png" class="social-icon" alt="Logo de tik tok" />
                <a class="socialLink-footer" href="">Lorem ipsum</a>
            </li>
            <li class="li-footer">
                <img src="/images/icons/facebook.png" class="social-icon" alt="Logo de facebook" />
                <a class="socialLink-footer" href="">Lorem ipsum</a>
            </li>
        </ul>

        <ul class="ul-footer">

            <li>
                <h3>Contacto</h3>
            </li>
            <li>
                <form id="form-footer" method="post" name="emailForm" action="/php/form-to-email.php">
                    <div id="message-form-footer">
                        <div>
                            <div class="nameEmail-form-footer">
                                <label for="name">Name:</label>
                                <input type="text" name="name" />
                            </div>
                            <div class="nameEmail-form-footer">
                                <label for="email">Email:</label>
                                <input type="email" name="email" />
                            </div>
                        </div>

                        <div>
                            <label for="message">Message:</label>
                            <textarea id="textArea-form-footer" type="text" name="message"></textarea>
                        </div>
                    </div>
                    <button type="submit">Send</button>

                </form>
            </li>
            
        </ul>
    </div>


    <div id="copyright-footer">
        <a>Privacy Policy</a>
        <p class="tag-footer">|</p>
        <p>Copyright © 2023 Lorem ipsum</p>
        <p class="tag-footer">|</p>
        <a >Cookie policy</a>
    </div>
</div>