    <head>
        <link rel="stylesheet" type="text/css" href="/styles/big_style/footer.css" media="screen and (min-width:1024px)"/>
        <link rel="stylesheet" type="text/css" href="/styles/mid_style/footer.css" media="screen and (min-width:768px) and (max-width:1023px)"/>
        <link rel="stylesheet" type="text/css" href="/styles/small_style/footer.css" media="screen and (max-width:767px)"/>
    </head>

    
        <div id="footer">
            <section id="main-footer">
                
                    <a href="/html/intro.html"><img id="logo-footer" src="/images/logotypes/logo.png" alt="Logo image"></a>
                    <nav>
                        <ul class="ul-footer">
                            <li><h3>Explore</h3></li>
                            <li class="li-footer"><a href="/html/intro.html">Home</a></li>
                            <li class="li-footer"><a href="/html/overlays.html">Overlays</a></li>
                            <li class="li-footer"><a href="/html/howToUse.html">How to use</a></li>
                            <li class="li-footer"><a href="/html/prices.html">Pricing</a></li>
                        </ul>
                    </nav>


                    <ul class="ul-footer">
                        <li><h3>Follow us</h3></li>
                        <li class="li-footer">
                            <img src="/images/icons/instagram.png" class="social-icon" alt="Logo de instagram" />
                            <a class="socialLink-footer" href="">Lorem ipsum</a>
                        </li>
                        <li class="li-footer">
                            <img src="/images/icons/youtube.png" class="social-icon" alt="Logo de youtube" />
                            <a class="socialLink-footer" href="">Lorem ipsum</a>
                        </li>
                        <li class="li-footer">
                            <img src="/images/icons/tik tok.png" class="social-icon" alt="Logo de tik tok" />
                            <a class="socialLink-footer" href="">Lorem ipsum</a>
                        </li>
                        <li class="li-footer">
                            <img src="/images/icons/facebook.png" class="social-icon" alt="Logo de facebook" />
                            <a class="socialLink-footer" href="">Lorem ipsum</a>
                        </li>
                    </ul>
                

                <ul class="ul-footer" id="ul-contac_us">
                    <li><h3>Contact us</h3></li>
                    <li>
                        <form id="form-footer" method="post" name="emailForm" action="/php/form-to-email.php">
                            <section id="message-form-footer">
                                <div>
                                    <div class="nameEmail-form-footer">
                                        <label for="name">Name:</label>
                                        <input type="text" name="name" />
                                    </div>
                                    <div class="nameEmail-form-footer">
                                        <label for="email">Email:</label>
                                        <input type="email" name="email" />
                                    </div>
                                </div>
                                <div id="message-form">
                                    <label for="message">Message:</label>
                                    <textarea id="textArea-form-footer" type="text" name="message"></textarea>
                                    <button type="submit">Send</button>
                                </div>
                            </section>
                            
                        </form>
                    </li>
                </ul>
            </section>

            <section id="copyright-footer">
                <a>Privacy Policy</a>
                <p class="tag-footer">|</p>
                <p>Copyright © 2023 Lorem ipsum</p>
                <p class="tag-footer">|</p>
                <a >Cookie policy</a>
            </section>
        </div>