<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles/big_style/header.css" media="screen and (min-width:1024px)"/>
        <link rel="stylesheet" type="text/css" href="/styles/mid_style/header.css" media="screen and (min-width:768px) and (max-width:1023px)"/>
        <link rel="stylesheet" type="text/css" href="/styles/small_style/header.css" media="screen and (max-width:767px)"/>
        <title>Stream Overlays</title>
    </head>

    <body id="body_header">
        <nav>
            <section id="menu-header">
                <h1 id="title"><img id= "logo-header" src="../images/logotypes/logo.png" alt="Imagen del Logo"/><a href="/html/intro.html">Streaming Overlays</a></h1>

                <section class="dropall"> <i>&#8801;</i>
                    <ul class="dropall_elements">
                        <li id="dropmenu">
                            <a id="dropmenu-top" href="/html/overlays.html">Overlays</a>
                            <div class="dropmenu_elements">
                                <a id="football" href="">Football</a>
                                <a id="basketball" href="">Basketball</a>
                                <a id="padel" href="">Padel</a>
                                <a id="tennis" href="">Tennis</a>
                                <a id="others" href="">Others</a>
                            </div>
                        </li>

                        <li id="prices"><a href="/html/prices.html">Prices</a></li>
                        <li id="howtouse"><a href="/html/howToUse.html">How to use</a></li>

                        <li id="sessionOptions">
                            <img id="icono_usuario" src="/images/icons/user-yellow.png" alt="User Icon"/>
                            <div>
                                <div id="not_logged">
                                    <a href="/html/session.html">Log in</a>
                                    <a href="/html/session.html">Sing up</a>
                                </div>
                                <div id="logged">
                                    <a href="/html/myOverlays.html">My Library</a>
                                    <a href="/html/intro.html">Log out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
        </nav>
    </body>
</html>