<nav>
    <ul id="menu-header">
        <li id="title"><img src="../images/logotypes/logo.png" alt="Imagen del Logo" /><a href="/html/intro.html">Streaming Overlays</a></li>
        <li id="dropmenu">
            <a id="dropmenu-top" href="/html/overlays.html">Overlays</a>
            <div class="dropmenu_elements">
                <a id="football" href="">Football</a>
                <a id="basketball" href="">Basketball</a>
                <a id="padel" href="">Padel</a>
                <a id="tennis" href="">Tennis</a>
                <a id="others" href="">Others</a>
            </div>
        </li>
        <li><a href="/html/prices.html">Prices</a></li>
        <li><a href="/html/howToUse.html">How to use</a></li>
        <li id="sessionOptions">
            <img id="icono_usuario" src="\images\icons\user-yellow.png" />
            <div>
                <a href="/html/session.html">Log in</a>
                <a href="/html/session.html">Sing up</a>
            </div>
        </li>
    </ul>
</nav>




