<head>
    <link rel="stylesheet" type="text/css" href="/styles/big_style/header.css" media="screen and (min-width:1024px)"/>
    <link rel="stylesheet" type="text/css" href="/styles/mid_style/header.css" media="screen and (min-width:768px) and (max-width:1023px)"/>
    <link rel="stylesheet" type="text/css" href="/styles/small_style/header.css" media="screen and (max-width:767px)"/>
</head>


<div id="body_header">
    <nav id="nav_header">
        <section id="menu-header">
            <h1 id="title"><img src="../images/logotypes/logo.png" alt="Imagen del Logo"/><a href="/html/intro.html">Streaming Overlays</a></h1>

            <section class="dropall"> <i>&#8801;</i>
                <ul class="dropall_elements">
                    <li id="dropmenu">
                        <a id="dropmenu-top" href="/html/overlays.html">Overlays</a>
                        <div class="dropmenu_elements">
                            <a id="football" href="">Football</a>
                            <a id="basketball" href="">Basketball</a>
                            <a id="padel" href="">Padel</a>
                            <a id="tennis" href="">Tennis</a>
                            <a id="others" href="">Others</a>
                        </div>
                    </li>

                    <li><a href="/html/prices.html">Prices</a></li>
                    <li><a href="/html/howToUse.html">How to use</a></li>

                    <li id="sessionOptions">
                        <img id="icono_usuario" src="/images/icons/user-yellow.png" alt="User Icon"/>
                        <div>
                            <a href="/html/session.html">Log in</a>
                            <a href="/html/session.html">Sing up</a>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </nav>
</div>