
<!--Esto no va aqui, se implementará en el header del html donde se meta-->
<head>
    <link rel="stylesheet" href="../styles/overlayCard.css">
</head>


<div id="cardOverlay">
    <!--El overlay se verá con una imagen, proxima implementación: añadir el marcador con las propiedades actuales del marcador-->
    <img src="" />
    <h2>Nombre del marcador</h2>
    <p>Descripción del marcador</p>
    <div id="info-cardOverlay">
        <div id="date-cardOverlay">
            <img src="/images/icons/calendar.png" />
            <p>Feb 23, 2023</p>
        </div>
        <img src="/images/icons/threeDots.png"/>

    </div>
    
</div>