
    <!--El overlay se verá con una imagen, proxima implementación: añadir el marcador con las propiedades actuales del marcador-->
    <div class="image_card">
        <img src="/images/overlays_preview/football.png"/>
    </div>
    <h2 class="overlay_name">AAAAAAAAAAAAAAAAAS</h2>
    <p class="overlay_description">Descripción del marcador asdf asdf asdf asDescripciónipción del marcador asdf asdf asdf asd fsd asdf asdf asdf asdf as del marcador asdf asdf asdf asd fsd asdf asdf asdf asdf as</p>
    <div class="info-cardOverlay">
        <div class="section_date">
            <img src="/images/icons/calendar.png" />
            <p class="overlay_date">Feb 23, 2023</p>
        </div>
        <!--Hace falta añadir las funciones los tres puntitos, eliminar el marcador, cambiar nombre, cambiar descripción, etc-->
        <button type="button">
            <img src="/images/icons/threeDots.png"/>
        </button>

    </div>