
<h1 id="title-main">Overlays abiertos</h1>
<div class="cards-main">
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
    
</div>
<div class="cards-main">
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
    <div class="card-main" w3-include-html="/templates/overlayCard.html"></div>
</div>
