<head>
    <link rel="stylesheet" type="text/css" href="/styles/big_style/session.css" media="screen and (min-width:1024px)"/>
    <link rel="stylesheet" type="text/css" href="/styles/mid_style/session.css" media="screen and (min-width:768px) and (max-width:1023px)"/>
    <link rel="stylesheet" type="text/css" href="/styles/small_style/session.css" media="screen and (max-width:767px)"/>
    <style>
        .interacted:invalid { border: 2px solid red; } 
        .interacted:valid { border: 2px solid green; }
    </style>
</head>
<body>
    <h1 id="titleForm" style="text-align: center;"></h1>
    <form id="sessionForm" action="" method="post" autocomplete="off" >
        <ul>
            <li>
                <label for="name"></label>
                <input type="text" id="name" name="name" required pattern="[a-zA-Z ]{2,254}"  >
            </li>
            <li>
                <label for="mail"></label>
                <input type="email" id="mail" name="mail"  required>
            </li>
            <li>
                <label for="password"></label>
                <input type="password" id="password" name="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\.!@#$%^&*_=+-]).{8,}" > 
            </li>
            <li>
                <label for="passwordRepeat"></label>
                <input type="password" id="passwordRepeat" name="passwordRepeat" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\.!@#$%^&*_=+-]).{8,}" >
            </li>
            <li>
                <input type="submit" id="submit" value="Sign up"  > </input>
                <div id="changeSessionOptions">
                    
                        <input id="changeButton" type="button" value="log in"/> .
                    
                </div>
            </li>
        </ul>
    </form>
</body>