<form action="" method="post">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" id="name" name="user_name">
        </li>
        <li>
            <label for="mail">Email:</label>
            <input type="email" id="mail" name="user_mail">
        </li>
        <li>
            <label for="password">Password:</label>
            <input type="password" id="password" name="user_mail">
        </li>
        <li>
            <label for="password">Confirm password:</label>
            <input type="password" id="passwordRepeat" name="passwordRepeat" />
        </li>
    </ul>
</form>
<div>
    <button>Action</button>
    <div>
        <p>you don´t have account?</p>
        <button>Log in</button>
    </div>
</div>