<!DOCTYPE html>
<!--ESTE OVERLAY SERVIRÁ PARA LA PAGINA DE PRODUCTOS Y LA PÁGINA DE MILIBRERIA(mioverlays)-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="/styles/header.css />
    <link rel="stylesheet" href="/styles/footer.css" />
    <!--Habría que añadir el link de la hoja de estilos del template que se usará-->
</head>
<body>
    <header w3-include-html="header.html"></header>
    <main>
        <h1>My Overlays</h1>
    </main>
    <footer w3-include-html="footer.html"></footer>
    <script>w3IncludeHTML();</script>
</body>
</html>