<head>
    <link rel="stylesheet" type="text/css" href="/styles/paymentGateway.css" />
</head>

<body>
    <div id="payment">
        <form id="paymentGateway">
            <ul>
                <li>
                    <label for="cardNumber">CARD NUMBER</label>
                    <input type="number" id="cardNumber" name="user_card" />
                </li>
                <li>
                    <label for="expiryDate">EXPIRY DATE</label>
                    <input type="month" id="expiryDate" name="user_card_expireDate" />
                
                </li>
                <li>
                    <label for="fullName">FULL NAME</label>
                    <input type="text" id="fullName" name="user_name" />
                </li>
                <li>
                    <label for="cvv">CVV</label>
                    <input type="number" id="cvv" name="user_card_cvv" maxlength="3" />
                </li>
                <li>
                    <label for="saveCard">Do you want to save this card?</label>
                    <input type="checkbox" id="saveCard" />
                </li>
            
            </ul>
            <button>
                SUBMIT PAYMENT
            </button>
        </form>
    </div>
</body>