<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="/styles/big_style/header.css" />
    <link rel="stylesheet" href="/styles/big_style/footer.css" />
    <link rel="stylesheet" href="/styles/big_style/useOverlay.css" />
</head>
<body>
    <header w3-include-html="/templates/header.html"></header>
    <main>

        <div id="overlay" w3-include-html="/templates/overlays/scoreboard_tennis.html"></div>
        <div id="controles">
            <button>+1</button>
            <button>+1</button>
            <button>+1</button>
            <button>+1</button>
            <button>+1</button>
            <button>+1</button>
            <button>+1</button>
            <button>+1</button>
        </div>
        
    </main>
    <footer w3-include-html="/templates/footer.html"></footer>


    <script>w3IncludeHTML();</script>

</body>
</html>