:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

header{
    position: sticky;
    top: 0;
    z-index:200;
}

body {
    background:var(--colorPrincipal);
    font-family:Poppins;
    overflow-x: hidden;
    margin: 0;
}

.section{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

#section1 h2{
    color:var(--colorSecundario);
}

#section2, #section3 {
    background: linear-gradient(var(--colorPrincipalOscuro),var(--colorPrincipal));
    justify-content:center;
    margin: 2em 0 2em 0;
}

.cards{
    display:flex;
}

h1{
    color:var(--colorTerciario);
}

h2{
    color:var(--colorTerciario);
}

p{
    color:white;
}



#section1 img {
    z-index:100;
    margin-top: 80px;
    width: 10em;
    height: 10em;
    -webkit-animation: 20s rotate linear infinite;
    animation: 20s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


#logo-intro img:hover{
    -webkit-animation-direction: reverse;
    animation-direction:reverse;
}

