:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

.cardOverlay{
    width:15em;
    height:17em;
    background-color:var(--colorPrincipalOscuro);
    border-radius:1em;
    padding:1em;
    flex-direction:column;
    font-family:Poppins;
    display:flex;
}

.image_card {
    padding:4px;
    background-color:var(--colorSecundario);
    border-radius:0.4em;
    display:flex;
    justify-content:center;
    align-items:center;
    height:72px;
}

.image_card img {
    width:232px;
    height:72px;
}

.overlay_name {
    color: var(--colorTerciario);
    font-size: 1.1em;
    height:fit-content;
    
}

.info-cardOverlay img {
    width: 1.5em;
    height: 1.5em;
}

.overlay_description {
    font-size: 0.9em;
    color: var(--colorSecundario);
    margin-top:0;
}



.card_button{
    color:var(--colorPrincipal);
    padding:1em;
    background-color:var(--colorTerciario);
    border:none;
    border-radius:1em;
    font-family:Poppins;
    margin-top:auto;
}






