:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

.cardOverlay{
    width:15em;
    height:15em;
    background-color:var(--colorPrincipalOscuro);
    border-radius:1em;
    padding:1em;
    display:flex;
    flex-direction:column;
    font-family:Poppins;
}

.cardOverlay p {
    color: var(--colorSecundario);
        
}

.image_card {
    padding:1.5em;
    background-color:var(--colorSecundario);
    border-radius:1em;
    display:flex;
    justify-content:center;
}

.image_card img{
    width:12em;
}

.overlayName {
    color: var(--colorTerciario);
}

.info-cardOverlay img {
    width: 1.5em;
    height: 1.5em;
}


.date-cardOverlay {
    display: flex;
    align-items: center;
}

.info-cardOverlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:0.5em;
}

.cardOverlay button{
    background:none;
    border:none;
}






