:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

header{
    position: sticky;
    top: 0;
}

h1 {
    color: var(--colorTerciario);
}

.cards-main {
    display: flex;
    justify-content: center;
}

.card-main {
    margin: 1.5em;
    color: var(--colorSecundario);
    background-color: var(--colorPrincipalOscuro);
    border-radius: 2em;
}

footer {
    bottom: 0;
    position: relative;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--colorPrincipal);
    margin: 0;
    overflow-x: hidden;
    font-family: Poppins;
}
