.li-footer {
    list-style-type: none;
    display: flex;
    margin: inherit;
}

.social-icon {
    width: 25px;
    align-content:center;
}

#main-footer {
    display:flex;
    justify-content:center;
}

.socialLink-footer{
    padding-left:5px;
}

#copyright-footer{
    text-align:center;
    font-size:0.8em;
    display:flex;
    justify-content:center;
    align-items:center;
}

.ul-footer{
    min-width:166px;
}