body {
    background: #6b6570;
    margin: 0;
    overflow-x: hidden;
}

#title-howToUse {
    text-align: center;
    color: #6fff10;
    font-size: 3em;
    font-family: "Optimus";
}

#introduction-howToUse {
    text-align: center;
    color: #4A314D;
    font-size: 2em;
    font-family: "Optimus";
}

.container-howToUse {
    list-style: none;
    margin: auto;
}

.box-howToUse {
    /*background-color: rgba(74, 49, 77, 0.9);*/
    background: linear-gradient(to bottom, #311134, #4A314D);
    border: 2px solid #1b1b1b;
    width: 750px;
    /*border-radius: 20px 20px 20px 20px;*/
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.type-howToUse {
    text-align: center;
    color: #6fff10;
    font-size: 2em;
    font-family: "Optimus";
}

.description-howToUse {
    text-align: center;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Blue Ocean';
    src: url('../fonts/BLUE OCEAN.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Robo Girls';
    src: url('/fonts/Robo Girls.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DS-digit';
    src: url('/fonts/DS-DIGIT.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Optimus';
    src: url('../fonts/Optimus.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
