body {
    background: #4A314D;
    margin: 0;
    overflow-x: hidden;
}

#logo-intro img {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:150px;
}

#brand_name-intro{
    text-align: center;
    color: #6fff10;
    font-size:3em;
    font-family: "Blue Ocean";
}

#description-intro{
    text-align: center;
    color: #6fff10;
    font-size:2em;
    font-family: "Optimus";
}

#productos-intro{
    background: #ace894;
    height: 350px;
    margin: auto;
}

#productos_text-intro{
    text-align: center;
    color: #794780;
    font-family: "DS-digit";
    font-size: 2em;
    font-weight: bold;
    padding-top: 20px;
}

.productos_images-intro {
    display:flex;
    width:300px;
    height:215px;
    margin: auto;
    border-top: 4px solid rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.productos_images-intro img {
    width:0px;
    flex-grow:1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.productos_images-intro img:hover{
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
}

@font-face {
    font-family: 'Blue Ocean';
    src: url('../fonts/BLUE OCEAN.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Robo Girls';
    src: url('../fonts/Robo Girls.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DS-digit';
    src: url('../fonts/DS-DIGIT.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Optimus';
    src: url('../fonts/Optimus.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}