:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}


body {
    background:var(--colorPrincipal);
    font-family:Poppins;
    margin: 0;
    overflow-x: hidden;
}

#logo-intro img {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:150px;
}

#brand_name-intro{
    text-align: center;
    color: var(--colorTerciario);
    font-size:3em;
}

#description-intro{
    text-align: center;
    color: var(--colorTerciario);
    font-size:2em;
}

#productos-intro{
    background-color:var(--colorTerciario);
    height: 350px;
    margin: auto;
}

#productos_text-intro{
    text-align: center;
    color:var(--colorPrincipal);
    font-size: 2em;
    font-weight: bold;
    padding-top: 20px;
}

.productos_images-intro {
    display:flex;
    width:300px;
    height:215px;
    margin: auto;
    border-top: 4px solid rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.productos_images-intro img {
    width:0px;
    flex-grow:1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.productos_images-intro img:hover{
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
}
