body{
    background: #6b6570;
    margin: 0;
    overflow-x: hidden;
}

#prices{
}

#title-prices {
    text-align: center;
    color: #6fff10;
    font-size:3em;
    font-family: "Robo Girls";
}
#description-prices {
    text-align: center;
    color: #6fff10;
    font-size:2em;
    font-family: "DS-digit";
}

.container-prices{
    display: flex;
    justify-content:center;
    list-style: none;
}

.box-prices{
    /*background-color: rgba(74, 49, 77, 0.9);*/
    background: linear-gradient(to bottom, #311134, #4A314D);
    border: 2px solid #1b1b1b;
    width: 300px;
    border-radius: 5%;
    margin-right: 20px;
    justify-content:center;
}

.type-prices{
    text-align: center;
    color: #6fff10;
    font-size:2em;
    font-family: "Robo Girls";
}

.price-prices{
    text-align: center;
    color: #25fc00;
    font-size:2em;
    font-family: "DS-digit";
}

.description-prices{
    text-align: center;
    color: #FFFFFF;
}

@font-face {
    font-family: 'Robo Girls';
    src: url('/fonts/Robo Girls.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DS-digit';
    src: url('/fonts/DS-DIGIT.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}