#session {
    list-style: none;
    margin: 0;
    --second-color:#ffbb00 ;
    --background-main-color: #032a88; 
    --text-main-color: #ffffff;
    color:var(--text-main-color);
    background: var(--background-main-color);
    display:flex;
    flex-direction:column;
    align-items:center;
}

#sessionForm {
    font-size:x-large;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#sessionForm ul{
    padding:0;
    list-style-type:none;
    display:inline-flex;
    flex-direction:column;
    align-items:flex-start;
    
}

#sessionForm ul li {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    flex-wrap:wrap;
}

#sessionOptions{
    display:flex;
    flex-direction:column;
    align-items:center;
}

#sessionOptions {
    width: max-content;
}

#sessionOptions #actionButton {
    font-size: x-large;
    background: var(--second-color);
    color: #ffffff;
    border: none;
    border-radius: 7px;
    -webkit-text-stroke: #032a88 0.03em;
    width: max-content;
}


#sessionOptions:hover #actionButton{
    background: red;
}

#sessionOptions  div{
    display:flex;
    flex-direction:row;
}

#sessionOptions div button {
    background: none;
    border: none;

}
    
