:root {
    --colorPrincipal: #032A88;
    --colorSecundario: #FFFFFF;
    --colorTerciario: #FFBB00;
    --colorPrincipalOscuro: #04006B;
}

header{
    position: sticky;
    top:0;
}

body {
    background: var(--colorPrincipal);
    margin: auto;
    display: grid;
    grid-template-rows: minmax(max-content,78px) 1fr;
    grid-template-columns: 1fr minmax(max-content,1fr) 1fr;
    overflow-x: hidden;
    font-family: Poppins, serif
}

#howToUse{
    display: grid;

}

#title-howToUse {
    color: var(--colorTerciario);
    text-align: center;
    font-size: 3em;
}

#introduction-howToUse {
    color: var(--colorSecundario);
    text-align: center;
    font-size: 2em;
}

.container-howToUse {
    list-style: none;
    margin: auto;
}

.box-howToUse {
    background: var(--colorPrincipalOscuro);
    border: 2px solid var(--colorTerciario);
    width: 750px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.type-howToUse {
    color: var(--colorTerciario);
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.description-howToUse {
    color: var(--colorSecundario);
    text-align: center;
}